@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    font-family: 'Helvetica';
    color: black; 


    /* background-image: linear-gradient(to right, gray, skyblue);
    background-color: "1B3B6F"; */
   } 